# Ignore the binaries and build products
bin/
*.dSYM/
*.o
/gfl
/ratePlacer
/ratePlacer_*

# Ignore example output
example/output/

# Ignore vim files
src/updating.vim
src/RatePlacer_longInt.c

# Ignore TODO
TODO

# Ignore misc
valgrind-out.txt
.vscode/
bfgs/
testData/
CLAUDE.md

# Python bytecode
__pycache__/
